
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex:1 1 auto;
}
.container{
    margin: 0 5%;
    max-width:90%;
}

.header{
    background-color:pink;
}


.header__body{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.header__logo{
   width: 80px;
   height: 80px;
}

.lng-main__button{
    padding: 10px;
    color: white;
    background-color: #3c2e7a;
    border-radius: 50px;
    font-size: 28px;
}
.change-lang{
    margin: 0 0 0 30px;
    text-align: center;
    height: 30px;
    width: 50px;
    background-color: white;
    color: black;
    border: 2px solid black;
}
/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/



.total-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.services-td {
    width: 100%;
    
}

.services{
    width:100%;
}

#services{
    width:100%;
}



#services td {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
#services tr:first-child td {
    border-top-width: 0px;
    
}

.coll{
    text-align: center;
}

.cart tr{
    width: 100%;
}



.demo{
    height: 80px;
    background-color: red;
    color: aqua;
}

.cart{
    
    
    height:auto;
    max-height:100%;
    display: flex;
    font-size: 18px;
    background-color: #3c2e7a;
    color: white;
}

.cart td{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 3px solid black;
}

.cart p{
    margin: 0;
    padding: 0;
}

.content{
    min-height: 750px;
    box-sizing: border-box;
    overflow:hidden;
    background-color: blue;
    
}

.counter{
    display: flex;
    align-items: center;
}
.counter button{
    height: 30px;
    width: 30px;
    margin: 15px;
}
/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/


.purchase--info{
    height: 500px;
    background-color: green;
}

.publish{
  
}

.date{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.wqe{
    width:100px;
}
.user--data{
    text-align: center;
}
.phone{
    width:100px;
}

.modal-window{
    display: flex;
    background-color: pink;
    height: 400px;
    flex-direction: column; 
    justify-content: space-between;  
}

/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

footer{
    background-color: black;
    padding: 10px;
}

.made__by{
    
    font-size: 20px;
    color: white;
}