
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex:1 1 auto;
}
.header{
    background-color:#e41937;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.header__body{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 65px;
}
.header__logo{
   width: 65px;
   height: 65px;
}
.menu{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lng-main__button{
    margin: auto;
    padding: 0 10px ;
    color: white;
    font-size: 24px;
}
.change-lang{
    font-size: 24px;
    margin: 0 0 0 30px;
    text-align: center;
    height: 30px;
    width: 50px;
    background:none;
    color: white;
}
.contenter{
    display: flex;
    justify-content: space-between;
}
/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/



.total-wrapper {
    /* display: flex; */
    text-align: center;
    width: 100%;
}

.services-td {
    width: 100%;
    
}

.services{
    width:100%;
}

#services{
    width:100%;
}



#services td {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
#services tr:first-child td {
    border-top-width: 0px;
    
}

.coll{
    text-align: center;
}

.cart tr{
    width: 100%;
}



.demo{
    height: 80px;
    background-color: red;
    color: aqua;
}

.container{
    padding: 150px 0 0 0;
}

.cart{
    height:auto;
    max-height:100%;
    display: flex;
    font-size: 18px;
    background: linear-gradient(to bottom right,#fa6a80,rgb(250, 199, 208));
    color: white;
    border-radius: 30px;
    border: 3px solid #e41937;
}

.cart td{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    border-radius: 30px;
}

.cart p{
    margin: 0;
    padding: 0;
}

.element{
    width:40%;
}

.content{
    background:none;
    margin: auto;
    max-width:65%;
}
@media (max-width: 491px) { 
    .content{
        max-width: 90%;
    }
 }

.price{
    width:20%;
}
.counter{
    width: 40%;
    display: flex;
    align-items: center;
}
.counter button{
    height: 30px;
    width: 30px;
    margin: 15px;
}

/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/




.pick_date{ 
    align-items: center;    
    font-size:15px ;
    margin: 0 0 20px 0;
}

.date{
    padding-top: 10px;
    background: none;
}
.total_total_price{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 28px;
    margin: 0 0 20px 0;
}
.total{
    padding-right: 20px;

}

.wqe{
    width:100px;
}

.tephone{
    margin: 0 0 20px 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size:15px ;
}
.phone{
    padding-left: 10px;
    background: none;
}

.modal-window{
    display: flex;
    width: 350px;
    height: 400px;
    flex-direction: column; 
    padding: 10px;  
}

.lng-describe_prob{
    margin: 0 0 5px 0;
}

.mes{
    padding: 50px 0 0 0;
}

.sub{
    width:300px;
    padding: 5px;
    color: white;
    background: linear-gradient(to bottom right,#fa6a80,rgb(250, 199, 208));
    border-radius: 20px;
    border: 2px solid #e41937;
    font-size: 28px; 
}

.problem-area{
    margin: 0 0 20px 0;
    border: 1px solid black;
    width:300px;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}
/*////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

footer{
    background-color: black;
    padding: 10px;
    margin: 50px 0 0 0;
}

.made__by{
    font-size: 20px;
    color: white;
}