input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html { height: 100%; } 
body {
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex:1 1 auto;
}



.header{
    text-align: center;
    background-color:#e41937;
    
    position: fixed;
    width: 100%;
    z-index: 4;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header__body{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 65px;
}
.header__logo{
   width: 65px;
   height: 65px;
}


.change-lang{
    font-size: 24px;
    margin: 0 0 0 30px;
    text-align: center;
    height: 30px;
    width: 50px;
    background:none;
    color: white;
}

.lng-order__button{
    margin: auto;
    padding: 0 10px ;
    color: white;
    font-size: 24px;
}


.content{
    background:none;
    margin: auto;
    max-width:65%;
}


/* -----------------------------------------------------------------------*/
/* -----------------------------------------------------------------------*/
/* -----------------------------------------------------------------------*/

@media (max-width: 657px) { 
    .lng-about__text{
        width: 70%;
    }
 }
 @media (max-width: 657px) { 
    .content{
        max-width: 80%;
    }
 }
 @media (max-width: 400px) { 
    .content{
        max-width: 90%;
    }
 }

 .lng-about{
    color: white;
    font-size: 24px;
    margin: 0 0 24px 0;
}

.about__us{
    background: linear-gradient(to bottom right,#d82943,rgb(250, 199, 208));
    display: flex;
    flex-direction: column;
    border: 4px solid #e41937;
    height: fit-content;
    padding: 24px;
    border-radius: 40px;
   position: relative;
   z-index: 2;
}

.circle_first{
    width:330px;
    height: 330px;
    background: linear-gradient(to top left,#d82943,rgb(250, 199, 208));
    border-radius: 50%;
    position: absolute;
    left:3%;
    top: 25%;
    z-index: 1;
}

.circle_second{
    width:150px;
    height: 150px;
    background: linear-gradient(to top left,#d82943,rgb(250, 199, 208));
    border-radius: 50%;
    position: absolute;
    right: 11%;
    top: 18%;
    z-index: 1;
}


.lng-about__text{
    color: white;
    font-size: 14px;
}


footer{
    margin: 190px 0 0 0;
    padding: 10px;
    background-color: black;
}

.made__by{
    font-size: 20px;
    color: white;
}

.services{
    margin-top: 71px;
    height: fit-content;
}
.about__us_all{
    padding-top: 200px;
}
.image img{
    border: 4px  solid #e41937;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    height: 300px;
    width: 350px;
    width: 100%;
    object-fit: cover;
}


.product{
    margin: 0 0 20px 0;
    background-color: white;
    text-align: center;
}
.info{
    
    padding: 10px 0;
}

.space {
    padding-top: 100px;
    background-color: pink;
}

/* Dropping menu */

.list-reset{
    margin: 0;
    padding: 0;
    list-style:none;
}

.menu{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__btn{
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 0;
    height: fit-content;
    font-size: 24px;
    width:100%;
    border: none;
    color: #dd4c61;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
}

.arrow{
    margin-left: 10px;
    content: " ";
    border: medium solid transparent;
    border-width: 10px;
    border-color: #d82943 rgba(225,225,225,0)  rgba(225,225,225,0) ;
}
.arrow--active{
    margin-bottom: 20px;
    content: " ";
    border: medium solid transparent;
    border-width: 10px;
    border-color:  rgba(225,225,225,0)  rgba(225,225,225,0) #535151;
}

.menu__btn--active{
    transition: background-color 0.3s ease-in-out;
    background-color: white;
    color:black;
}


.menu__item{
    height: fit-content;
    width:100%;
    position: relative;
}

.dropdown__btn{
    z-index: 2;
    width:100%;
    font-size: 24px;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    border:none;
    color: black;
}
.dropdown__btn:hover{
    background-color: white;
    color: black;
   
}


.dropdown__item:last-child{
   padding-bottom: 0px; 
}
.dropdown__item{
    z-index: 2;
    /* border-top: 2px solid white; */
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.count__circ{
    align-items: center;
    display: flex;
    justify-content: space-around;   
    color: black;
    
    padding: auto;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color:pink;
    border-radius: 50%;
}
.menu__item:not(:last-child){
    margin-right: 30px;
}
.cart{
    display: flex;
    flex-direction: row;
}
.dropdown{
    z-index: 2;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    background-color: rgb(197, 196, 196);  
}

.dropdown--active{
    opacity: 1;
    visibility: visible;
}