html { height: 100%; } 
body {
    min-height: 100%;
    background-color: black;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex:1 1 auto;
}
.content{
    margin: 0 5%;
    max-width:90%;
}

.header{
    background-color:pink;
}

.header__body{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.header__logo{
   width: 80px;
   height: 80px;
}

.change-lang{
    margin: 0 0 0 30px;
    text-align: center;
    height: 30px;
    width: 50px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.lng-order__button{
    padding: 10px;
    color: white;
    background-color: #3c2e7a;
    border-radius: 50px;
    font-size: 28px;
}


/* -----------------------------------------------------------------------*/
/* -----------------------------------------------------------------------*/
/* -----------------------------------------------------------------------*/

@media (max-width: 657px) { 
    .lng-about__text{
        width: 70%;
    }
 }


.about__us{
    background-image: url(../pics/professional-cleaning-company.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
}

.lng-about__text{
    color: black;
    font-size: 20px;
    width: 50%;
}

@media (max-width: 775px) { 
    .lng-about__text{
        width: 70%;
    }
 }

 @media (max-width: 557px) { 
    .lng-about__text{
        width: 100%;
    }
 }
 @media (max-width: 340px) { 
    .lng-about__text{
        width: 100%;
        font-size: 17px;
    }
 }


.lng-about{
    color: black;
    font-size: 34px;
    margin: 0 0 20px 0;
}

footer{
    
    background-color: black;
    padding: 10px;
}

.made__by{
    
    font-size: 20px;
    color: white;
}

.services{
    background-color: pink;
    height: fit-content;
}

.image img{
    border: 1px solid black;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.row{
    padding: 100px 0 0 0;
}
.product{
    margin: 0 0 20px 0;
    background-color: white;
    text-align: center;
}
.info{
    border: 2px  solid black;
    padding: 10px 0;
}

.space {
    padding-top: 100px;
    background-color: pink;
}

/* Dropping menu */

.list-reset{
    margin: 0;
    padding: 0;
    list-style:none;
}

.menu{
    /* height: 40px; */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}


.menu__btn{
    z-index: 0;
    height: fit-content;
    font-size: 28px;
    width:100%;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #333;
}

.menu__btn--active{
    transition: background-color 0.3s ease-in-out;
    background-color: white;
    border: 2px solid black;
    color:black;
}

.menu__item{
    height: fit-content;
    width:100%;
    position: relative;
}

.dropdown__btn{
    z-index: 2;
    width:100%;
    font-size: 24px;
    justify-content: center;
    background-color: #333;
    border:none;
    color: #fff;
}
.dropdown__btn:hover{
    background-color: white;
    color:#333;
}

.dropdown__item:last-child{
    border-bottom: 2px solid white;
}
.dropdown__item{
    z-index: 2;
    border-top: 2px solid white;
    padding: 3px;
    display: flex;
  align-items: center;
  justify-content: center;
}


.menu__item:not(:last-child){
    margin-right: 30px;
}

.dropdown{
    z-index: 2;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    background-color: #333;
}

.dropdown--active{
    opacity: 1;
    visibility: visible;
}